<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django Level 2</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
  <h1>Welcome to Django level 2!</h1>
  <h2>Access records:</h2>

  <div class="django-l2">
    {% if access_records %}
      <table>
        <thead>
          <th>Site Name</th>
          <th>Date Accessed</th>
        </thead>
        {% for rec in access_records %}
          <tr>
            <td>{{ rec.name }}</td>
            <td>{{ rec.date }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>NO ACCESS RECORDS FOUND</p>
    {% endif %}
  </div>
</body>
</html>